#!/bin/bash

wallpaper="$(shuf -n1 -e $(find /usr/share/wallpapers/ -maxdepth 5 -name 'wallpaper_*'))"

## XFCE - Desktop wallpaper
/usr/bin/xfconf-query -n -c xfce4-desktop -p /backdrop/screen0/monitor0/image-show -t bool -s true
/usr/bin/xfconf-query -n -c xfce4-desktop -p /backdrop/screen0/monitor0/image-path -t string -s "${wallpaper}"
/usr/bin/xfconf-query -n -c xfce4-desktop -p /backdrop/screen0/monitor0/workspace0/last-image -t string -s "${wallpaper}"

## GNOME - Desktop wallpaper
#[[ $(which gnome-shell) ]] \
#  && dconf write /org/gnome/desktop/background/picture-uri "'file://${wallpaper}'"

## Change lock wallpaper (before swipe) - kali 2 & rolling
/usr/bin/dconf write /org/gnome/desktop/screensaver/picture-uri "'file://${wallpaper}'"

## Change login wallpaper (after swipe) - kali 2
#cp -f "${wallpaper}" /usr/share/gnome-shell/theme/KaliLogin.png

/usr/bin/xfdesktop --reload 2>/dev/null &
